server:
  port: 8090
spring:
  datasource:
    url: jdbc:mariadb://mariadb:3306/refill
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${MARIADB_USERNAME}
    password: ${MARIADB_PASSWORD}
  jpa:
    open-in-view: false
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update
  cache:
    type: redis
    redis:
      time-to-live: 3600
      cache-null-values: false
      host: redis/redis-cli
      port: 6377
      password: ${REDIS_PASSWORD}

flask:
  server:
    url: ${FLASK_URL}
