body {
  width: 100%;
  height: 100%;
}

.HospitalForm {
  background-color: #f2981f;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.MemberForm {
  background-color: #2e5077;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.text-whiteblue {
  color: #aadaff;
}

.Common_Left {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-weight: bold;
}

.Common_Right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.select_LoginOrSignUp {
  width: 200px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.Logo_img {
  width: 300px;
  height: 300px;
}

.MLogin {
  background-color: white;
  height: 500px;
  width: 400px;
}

.file-input-btn {
  /* 버튼의 스타일을 설정합니다. */
  display: inline-block;
  padding: 10px 20px;
  background-color: #142cf9;
  color: #fff;
  border: 1 solid transparent;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  transition:
    background 0.2s ease,
    color 0.1s ease;
  line-height: 26px;
  font-size: 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

/* input[type="file"]을 숨깁니다. */
.file-input {
  display: none;
}

.button-style {
  outline: "none";
  border: "1 solid transparent";
  border-radius: 7px;
  cursor: "pointer";
  transition: "background .2s ease, color .1s ease";
  font-weight: 600;
  line-height: 26px;
  font-size: 15px;
  box-shadow: "4px 4px 5px rgba(0, 0, 0, 0.3)";
  padding: "11px";
  color: white;
}

.mbutton {
  background-color: #142cf9;
}

.hbutton {
  background-color: #f2981f;
}

.image-container {
  overflow: hidden;
}

.fit-image {
  object-fit: cover;
  object-position: center center;
}
