.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 예약 완료 모달 */
.complete-modal {
  height: 600px;
  width: 400px;
  background-color: #eefbf6;
  border: 3px solid #c0f8e3;
}

.complete-btn {
  border-radius: 10px;
  background-color: #aadaff;
}

.complete-round {
  background-color: #aadaff;
}

.complete-font-color {
  color: #20a4f3;
}

/* AI진단 모달 */
.AID-modal {
  height: 400px;
  width: 600px;
}

.AID-modal-font-color {
  color: #aadaff;
  margin-left: 4px;
  margin-right: 4px;
}
/* delete modal */
.delete-modal-box {
  height: 200px;
  width: 400px;
  background-color: rgba(
    242,
    152,
    31,
    0.8
  ); /* 0.7은 투명도를 나타내는 값입니다. */
  color: white;
  border-radius: 5px;
  border: white 2px solid;
}
.delete-modal-btn-left {
  background-color: crimson;
  border-radius: 5px;
  border: white 1px solid;
}
.delete-modal-btn-right {
  background-color: #20a4f3;
  border-radius: 5px;
  border: white 1px solid;
}

/* consulting detail modal */
.detail-consulting-box {
  height: 600px;
  width: 752px;
  background-color: white;
  overflow-y: auto;
}

.detail-consulting-inner-large-box {
  height: 860px;
  width: 752px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.detail-consulting-inner-small-box {
  height: 80px;
  width: 752px;
}
.detail-consulting-btn {
  height: 40px;
  width: 100px;
  color: white;
  background-color: #20a4f3;
  border-radius: 5px;
}
.detail-content-box {
  border-top: 2px solid black;
}

.detail-content-sm-box {
  background-color: #d9d9d9;
}

/* Chrome & Safari */
.detail-consulting-box::-webkit-scrollbar {
  display: none;
}

/* alert-modal */
.alert-modal {
  height: 440px;
  width: 600px;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.alert-modal-top-box {
  height: 200px;
  border-bottom: 3px solid red;
}

.alert-modal-bottom-box {
  height: 100px;
}
.alert-modal-middle-box {
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
.alert-modal-btn-left {
  background-color: #20a4f3;
  border-radius: 10px;
  color: white;
  border: 2px solid #9d9d9d;
}
.alert-modal-btn-right {
  border: 2px solid #9d9d9d;
  border-radius: 10px;
}
