.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 예약 완료 모달 */
.complete-modal {
  height: 600px;
  width: 400px;
  background-color: #EEFBF6;
  border: 3px solid #C0F8E3;
}

.complete-btn {
  border-radius: 10px;
  background-color: #AADAFF;
}

.complete-round {
  background-color: #AADAFF;
}

.complete-font-color {
  color: #20A4F3;
}

/* AI진단 모달 */
.AID-modal {
  height: 400px;
  width: 600px;
}

.AID-modal-font-color {
  color: #AADAFF;
  margin-left: 4px;
  margin-right: 4px;
}
