.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.complete-modal {
  height: 500px;
  width: 400px;
  background-color: #EEFBF6;
  border: 3px solid #C0F8E3;
}
