.scroll-ai-box {
    overflow-y: auto;
    padding: 10px;
    width: inherit;
}

/* Chrome & Safari */
.scroll-ai-box::-webkit-scrollbar {
    display: none;
}

.ai-list-item {
    height: 120px;
    width: inherit;
    border-radius: 16px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}
/* 
const scrollContainerStyle = {
  maxHeight: '400px',  // 원하는 높이로 조정하세요
  overflowY: 'auto',   // 수직 스크롤 활성화
  scrollbarWidth: 'none',  // Firefox에서 스크롤바 숨기기
  msOverflowStyle: 'none',  // IE 및 Edge에서 스크롤바 숨기기

  // Chrome 및 Safari에서 스크롤바 숨기기
  '&::-webkit-scrollbar': {
    display: 'none'
  }


*/