html body .MainApp {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MainApp-body {
  background-color: #2e5077;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar {
  width: 100%;
  height: 100px;
  font-size: 20px;
  color: black;
}

button:hover {
  border: #ffffff;
}

.App-link {
  color: #61dafb;
}

/* 기본 스타일 - md 사이즈 이상일 때 적용 */
/* .App {
  padding: 0px 100px;
} */

/* md 사이즈 이하일 때 적용 */
/* @media (max-width: 992px) {
  .App {
    padding: 0px;
  }
} */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
}
